body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2 !important;
  overflow-y: auto;
}

aside {
  flex: 1 !important;
  overflow-y: auto;
}
